.AFJline {
    position: relative;
    span {
        &:before {
            content: " ";
            position: absolute;
            top: -16px;
            left: -4px;
            right: -20px;
            bottom: -10px;
            background-image: url(/svg/bg/handDrawn.svg);
            background-size: 400px;
            background-position: 100%;
            background-repeat: no-repeat;
            border-left-width: 9px;
            border-right: none;
            border-style: solid;
            -o-border-image: linear-gradient(90deg, #fff, transparent) 1 100%;
            border-image: linear-gradient(90deg, #fff, transparent) 1 100%;
        }
    }
}

.AFJnotification {
    .q-timeline__dot {
        width: 10px !important;
        &::before {
            width: 10px !important;
            height: 10px !important;
        }
        &::after {
            top: 17px !important;
            left: 3.5px !important;
        }
    }
    .q-timeline__title {
        font-size: 14px !important;
        margin-bottom: 2px !important;
        font-family: "bexressfont bold" !important;
    }
    .q-timeline__subtitle {
        font-size: 10px !important;
        font-family: "bexressfont light" !important;
    }
    .q-timeline__content {
        div {
            font-size: 12px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    }
    ul {
        padding: 0px !important;
        margin: 0px !important;
    }
    .q-timeline--dense--right .q-timeline__entry {
        padding-left: 1.5rem !important;
    }
}

.AFJtab {
    &--simple {
        .q-tab {
            min-height: 0px !important;
            padding: 0 !important;
            text-transform: none !important;
            font-size: 12px !important;
            color: $gray !important;
            margin: 0rem 0.5rem;
        }
        &-r {
            .q-tab {
                margin-left: 1rem !important;
            }
        }
        .q-tab--active {
            color: $primary !important;
        }
    }
}
